.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  /* new */
  max-height: 100%;
}

.popup-inner {
  position: relative;
  padding: 32px;
  max-width: 640px;
  background-color: #fff;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
