@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap");

@layer base {
  body {
    @apply font-[Didot];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  @font-face {
    font-family: Baskervville;
    src: url(https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap);
  }
}

@layer components {
  .border {
    @apply py-8 px-8 border-2 border-cyan-950;
  }
  .heading {
    @apply text-4xl font-bold inline  border-b-4 border-cyan-950 text-cyan-950 tracking-wider;
  }
  .marble-background {
    @apply flex items-center justify-center h-screen  bg-fixed bg-center bg-cover custom-img;
  }

  .work-button {
    @apply text-center rounded-lg px-4 py-3 m-2 bg-cyan-950 text-gray-50 font-bold text-lg tracking-wider;
  }

  /* .container {
    @apply max-w-[1000px] mx-auto px-8 flex flex-col justify-center h-full space-y-4;
  } */
}

.custom-img {
  background-image: url("./assets/blue-marble.jpg");
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(169, 217, 245, 0.1),
    hsla(206, 61%, 53%, 0.05)
  ) !important;
}
